---
layout: layout.njk
title: 山月記
auther: <p class="content_author">中島&nbsp;敦</p>
---
<article class="content u-clearfix">
  <div class="content_infomation">
    <h1 class="content_ttl">{{ title }}</h1>
    {{ auther | safe }}
  </div>

  <figure class="content_autherImg">
    <img src="./assets/images/auther_img.jpg" alt="">
  </figure>

  <div class="content_txtArea">
    <p class="content_txt">隴西の李徴は博學才穎、天寶の末年、若くして名を虎榜に連ね、ついで江南尉に補せられたが、性狷介、自ら恃む所頗る厚く、賎吏に甘んずるを潔しとしなかった。いくばくもなく官を退いた後は、故山、カク略に歸臥し、人と交を絶って、ひたすら詩作に耽った。下吏となって長く膝を俗惡な大官の前に屈するよりは、詩家としての名を死後百年に遺さうとしたのである。しかし、文名は容易に揚らず、生活は日を逐うて苦しくなる。李徴は漸く焦燥に驅られて來た。この頃から其の容貌も峭刻となり、肉落ち骨秀で、眼光のみ徒らに炯々として、曾て進士に登第した頃の豐頬の美少年の俤は、何處にも求めようもない。數年の後、貧窮に堪へず、妻子の衣食のために遂に節を屈して、再び東へ赴き、一地方官吏の職を奉ずることになった。一方、之は、己の詩業に半ば絶望したためでもある。曾ての同輩は遙か高位に進み、彼が昔、鈍物として齒牙にもかけなかった其の連中の下命を拜さねばならぬことが、徃年の儁才李徴の自尊心を如何に傷つけたかは、想像に難くない。彼は怏々として樂しまず、狂悖の性は愈々抑へ難くなった。一年の後、公用で旅に出、汝水のほとりに宿った時、遂に發狂した。或夜半、急に顏色を變へて寢床から起上ると、何か譯の分らぬことを叫びつゝ其の侭下にとび下りて、闇の中へ駈出した。彼は二度と戻って來なかった。附近の山野を搜索しても、何の手掛りもない。その後李徴がどうなったかを知る者は、誰もなかった。</p>
    <p class="content_txt u-redBorder">{{ metadata.sitename }}</p>

    <details class="content_detail">
      <summary class="content_summary">もっと読む</summary>
      <p class="content_txt">翌年、監察御史、陳郡の袁サンといふ者、敕命を奉じて嶺南に使し、途に商於の地に宿った。次の朝未だ暗い中に出發しようとした所、驛吏が言ふことに、これから先の道に人喰虎が出る故、旅人は白晝でなければ、通れない。今はまだ朝が早いから、今少し待たれたが宜しいでせうと。袁サンは、しかし、供廻りの多勢なのを恃み、驛吏の言葉を斥けて、出發した。殘月の光をたよりに林中の草地を通って行った時、果して一匹の猛虎が叢の中から躍り出た。虎は、あはや袁サンに躍りかゝるかと見えたが、忽ち身を飜して、元の叢に隱れた。叢の中から人間の聲で「あぶない所だった」と繰返し呟くのが聞えた。其の聲に袁サンは聞き憶えがあった。驚懼の中にも、彼は咄嗟に思ひあたって、叫んだ。「其の聲は、我が友、李徴子ではないか？」袁サンは李徴と同年に進士に第に登り、友人の少なかった李徴にとっては、最も親しい友であった。温和な袁サンの性格が、峻峭な李徴の性情と衝突しなかったためであらう。</p>
    </details>

    <input class="inputForm" type="text">

    <a class="content_txt -link" href="https://www.aozora.gr.jp/cards/000119/files/624_14544.html" targer="_blank" rel="noopener">青空文庫で読む</a>
  </div>
</article>

