/* ------------------------
  Project
------------------------ */
.content {
  margin: 0 auto;
  padding: 30px;
  min-width: 640px;
  max-width: 1024px;
}

.content_ttl {
  font-size: 20px;
}

.content_author {
  margin-bottom: 20px;
}

.content_autherImg {
  float: right;
  margin: 10px;
}

.content_txt {
  margin-bottom: 10px;
}

